<!DOCTYPE html>
<html lang="en-US">

<head>

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	
	<!-- SEO -->
	<title>BM Server Demo</title>
	<meta property="title" content="BM - Manage your spending" />
	<meta property="description" content="We always forget the spending to keep track of the spending we need help from somthing that always helps us. This page is for BM server demo" />
	<meta property="url" content="https://github.com/jawahar273/bm" />
	<meta name="robots" content="index, follow" />
	<meta name="referrer" content="always" />

	<!-- Social & Open Graph -->
	<meta property="og:title" content="BM - Manage your spending" />
	<meta property="og:description" content="We always forget the spending to keep track of the spending we need help from somthing that always helps us." />
	<meta property="og:url" content="https://github.com/jawahar273/bm" />

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="images/favicon.png" sizes="32x32">

	<!-- Styles -->
	<link rel='stylesheet' href='assets/css/split.css' type='text/css' media='screen' />
	<meta name="viewport" content="width=device-width,initial-scale=1" />

</head>

<body id="fullsingle" class="page-template-page-fullsingle-split">

<div class="fs-split">

	<!-- Image Side -->
	<div class="split-image">

	</div>

	<!-- Content Side -->
	<div class="split-content">

		<div class="split-content-vertically-center">
		
			<div class="split-intro">
				
				<h1>Jawahar</h1>

				<span class="tagline">BM server demo</span>

			</div>

			<div class="split-bio">
				
				<p>
					This hosting will give the idea about the working of the BM django service.
				</p>

			</div>

			<div class="split-lists">
				
				<div class="split-list" style="justify-content: center;">

					<h3>Connect</h3>

					<ul>
						<li><a href="https://medium.com/@jawahar273">Blog</a></li>
						<li><a href="https://github.com/jawahar273/bm">github</a></li>
					</ul>

				</div>

		
			</div>

			<div class="split-credit">

				<p>&copy;2017  <a href="https://onepagelove.com/split" style="color: white;">credit</a> - <a href="https://onepagelove.com/split">Split Template</a> by <a href="https://onepagelove.com">One Page Love</a></p>

				<!-- 
				To edit this credit you can remove the CC3.0 license for only $5 here: https://onepagelove.com/split 
				this really helps contribute towards us developing more templates and means the world to me!
				Cheers, Rob (@robhope)
				-->

			</div>		

		</div>

	</div>

</div>

</body>
</html>